[project]
	description = Public minigame minecraft server
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Biel Simon Rojas (biels)
[access "refs/for/refs/*"]
	read = group user/Biel Simon Rojas (biels)
	push = group user/Biel Simon Rojas (biels)
	label-Code-Review = -2..+2 group user/Biel Simon Rojas (biels)
	label-Verified = -1..+1 group user/Biel Simon Rojas (biels)
	rebase = group user/Biel Simon Rojas (biels)
	removeReviewer = group user/Biel Simon Rojas (biels)
	submit = group user/Biel Simon Rojas (biels)
[access "refs/heads/*"]
	read = group user/Biel Simon Rojas (biels)
	create = group user/Biel Simon Rojas (biels)
	push = +force group user/Biel Simon Rojas (biels)
	pushMerge = group user/Biel Simon Rojas (biels)
[access "refs/tags/*"]
	push = +force group user/Biel Simon Rojas (biels)
	pushTag = group user/Biel Simon Rojas (biels)
	pushSignedTag = group user/Biel Simon Rojas (biels)
